# Core modules (mandatory)
jupyterlite-core==0.2.3
jupyterlab~=4.0.11
notebook~=7.0.7

# Python kernel (optional)
jupyterlite-pyodide-kernel==0.2.3

# Python: ipywidget library for Jupyter notebooks (optional)
ipywidgets>=8.1.1,<9
# Python: ipyevents library for Jupyter notebooks (optional)
ipyevents>=2.0.1
# Python: ipyleaflet library for Jupyter notebooks (optional)
ipyleaflet

# Python: plotting libraries (optional)
plotly>=5,<6

# Python - data processing
panel
nbformat
fastparquet
